html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* body {
  background-image: url("images/booksBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



/* Style the icons */
.icon {
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}



/* Style the cart icon */
.icon.cart:before {
  content: "\1F6D2"; /* Unicode character for shopping cart emoji */
}

/* Style the logout icon */
/* .icon.logout:before {
  background-image: url('images/logout.png');
  background-size: cover;
}  */

/* Change icon color on hover */
.icon:hover {
  color: #ff9900; /* Change to your desired hover color */
}

/* #logout{
  background-image: url('images/logout.png');
  background-size: cover;
} */

/* Reset default list styles */
.topnav {
  position: absolute;
  margin-top: auto;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #f2f2f2; /* Set the background color */
  /* justify-content: center; Center items horizontally */
  justify-content: space-between;
}

.topnav .iconsMenu{
  justify-content:end;
}

.menus-container {
  display: flex;
  align-items: center; /* Center vertically */
}

.booksMenu,
.iconsMenu {
  display: flex; /* Display as a flex container */
  align-items: center; /* Center vertically */
}

.iconsMenu {
  order: 2; /* Move iconsMenu to the right side */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.booksMenu {
  order: 1; /* Keep booksMenu on the left side */
}

.custom-link {
  /* Your custom styling here */
  font-weight: bold; /* Add some emphasis */
  float: left;
  text-align: center;
  font-size: 17px;
  color: #333; /* Text color */
  text-decoration: none; /* Remove default underline */
  padding: 10px 20px; /* Adjust padding as needed */
  font-weight: bold; /* Make text bold */
  transition: background-color 0.3s, color 0.3s; /* Add smooth transition effect */
}


/* CSS for the navbar link on hover */
a.custom-link:hover {
background-color: #c11d1d; 
color: #d7c8c8; 
}

.gallery{
  justify-content: center; /* Center horizontally */
}


.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  gap: 20px; 
  margin-top: 50px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.grid-item {
  position: relative;
  /* width: calc(20% - 20px); */
  align-items: center;
  justify-content: center;
  justify-self: center; /* Center horizontally */
  /* grid-row: 1/2; */
  margin: 10px; /* Add margin for spacing */
}



.grid-item img {
  /* width: 100%; */
  width: 160px;
  height: 200px;
  display: block;
}

.overlay {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  color: rgb(49, 45, 85);
  padding: 0;
  opacity: 0;
  transition: opacity 0.5s;
  text-align: center;
  width: 160px;
  height: 70px;
  margin: 0;
}

.grid-item .overlay {
  opacity: 0.9;
}


.overlay h4, .overlay p {
  margin: 5px 0;
  padding: 0;
}

h1{
  font-family:cursive;
  font-size: 70px;
  font-weight: bold;
  color: #d06262;
  text-align: center;
  margin-top: 20px;
}

.showMoreButton {
  display: inline-block;
  padding: 8px 8px;
  font-size: 15px;
  font-family: cursive;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #120505;
  background-color: #e0bdbd;;
  border: none;
  border-radius: 15px;
  /* box-shadow: 0 9px #999; */
  
}

.showMoreButton :hover {background-color: #0917ab}

 .showMoreButton:active {
  background-color: #cc9797;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.showMore{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 743px;
  padding-inline: 27px;
  padding: 100px;
  margin: 0;
  padding: 0;
  background-image: url("images/booksBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;    
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login-form > input:focus {
  outline: none;
}

.inputTypeIn{
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
  border-radius: 6px 6px 0px 0px;
}

#userNameInput {
  border-radius: 6px 6px 0px 0px;
}

#passwordInput{
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}



.home-container {
  width: 100%;
  display: flex;
  align-items: center;
  /* padding-inline: 27px; */
  display: inline;
  text-align: center;
  height: 743px;
  margin: 0;
  padding: 0;
  background-image: url("images/biiksBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}


.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e0bdbd;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.button-link:hover {
  background-color: #d06262;
}


.aboutUs-container {
  font-family: cursive;
  font-size: 20px;
  font-weight: bold;
  color: #695f5f;
  text-align: center;
  margin-top: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.linkButton {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  font-size: inherit;
  font-family: cursive;
  padding: 0;
}

.linkButton:focus {
  outline: none;
}
